{
  "preferredSeeds": [
    "z6MksmpU5b1dS7oaqF2bHXhQi1DWy2hB7Mh9CuN7y1DN6QSz@seed.radicle.dev:8776",
    "z6MkrLMMsiPWUcNPHcRajuMi9mDfYckSoJyPwwnknocNYPm7@seed.radicle.garden:8776",
    "z6Mkmqogy2qEM2ummccUthFEaaHvyYmYBYh3dbe9W4ebScxo@ash.radicle.garden:8776"
  ],
  "node": {
    "alias": "radicle-${APP_PUBLIC_IP_DASH}",
    "listen": ["0.0.0.0:8776"],
    "externalAddresses": ["radicle-${APP_PUBLIC_IP_DASH}.sslip.io:8776"],
    "seedingPolicy": {
      "default": "block"
    }
  }
}
